h3 {
  text-align: center;
}

p {
  margin: 0px;
}

ul {
  list-style: none;
  li{
    margin: 5px;
    border: 2px solid black;
  }
}

.target {
  border: 2px solid black;
  padding: 20px;
}

.section_header {
  width: 136px;
  text-align: center;
}

.aspects_skills {
  margin-top: 20px;
}

.skill_list {
  li{
    display: inline-block;
  }
}

#refresh_input {
  height: 136px;
  width: 136px;
  text-align: center;
  font-size: 90px;
}
