h3 {
  text-align: center;
}

p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    border: 2px solid black;
  }
}

.target {
  border: 2px solid black;
  padding: 20px;
}

.section_header {
  width: 136px;
  text-align: center;
}

.aspects_skills {
  margin-top: 20px;
}

.aspect_list {
  ul{
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.skill_list {
  p{
    font-weight: bold;
  }
  li {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    text-align: center;
  }
}

#refresh_input {
  height: 136px;
  width: 136px;
  text-align: center;
  font-size: 90px;
}
